<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row">
    <!-- Background image -->
    <!-- background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); -->
    <div class="p-5 text-center bg-image" style="
  background-image: url('https://img.freepik.com/free-photo/application-occupation-profession-job-seeker-concept_53876-122755.jpg?w=2000');
  height: 90vh;
">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h4 class="mb-3">Apply for Job</h4>
            <!-- <button class="btn btn-outline-light btn-lg" >Call to action</button> -->
            <button class="btn btn-primary" routerLink="user/apply">Apply</button>
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary"   data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Launch static backdrop modal
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </div>
</div>





<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> -->